h2{
    color: #333;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 10px;
}
body {
    font-family: Arial;
    padding: 20px;
    color-scheme: calc();
    font-display: auto;
    background-color: bisque;
}

input, textarea, button {
    width: 100%;
    margin: 8px 0;
    padding: 8px;
    color: #28a745;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    padding: 10px;
    background-color: aquamarine;
    font-size: medium;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-display: block;
    color: rebeccapurple;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    container: inherit;
    column-gap: 0ch;
    
}
th {
    background-color: #f4f4f4;
}
button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    padding-block: calc();
    color-scheme: unset;
    text-decoration: solid;
    font-weight: 600;
}